# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
1. SQL
1. HTML
1. Javascript

Some of the commonly used libraries used by Data Scientists include: 
1. Pytorch 
1. Tensorflow
1. Pandas

| Data Science Tools |
| --- |
| GitHub |
| Jupiter Notebook |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to mutliply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [6]:
Objectives: *R *Python *Matlab

SyntaxError: invalid syntax (2479173947.py, line 1)

## Harisankar Tandasa